---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to">
  <section class="overflow-hidden">
    <div class="container mx-auto">
      <div class="p-5 lg:pt-10 lg:pb-[150px] lg:px-30">
        <div class="hidden sm:block lg:flex items-center">
          <div class="lg:w-[51.666%]">
            <p>
              All of our body art services are completely freehand, temporary, &
              fun
            </p>
            <h1 class="font-cinzel text-h1sm lg:text-h1 tracking-3 leading-[100%] mb-14">
              Discover beauty
              <span class="font-cormorant">with</span> henna
            </h1>
            <button
              class="bg-black w-full lg:w-[13.75rem] py-4 text-white mb-[4.375rem]"
            >
              Book Now
            </button>
          </div>
          <div class="lg:w-[48.333%]">
            <figure class="w-full mb-5">
              <img
                class="w-full h-full"
                src="../../image/rectangle-14.png"
                alt=""
              />
            </figure>
            <p class="max-w-[20.875rem]">
              All of our body art services are completely freehand, temporary, &
              fun
            </p>
          </div>
        </div>
        <div class="sm:hidden">
          <h1 class="font-cinzel text-h1sm leading-[100%] mb-5">
            Discover beauty
            <span class="font-cormorant">with</span> henna
          </h1>
          <figure class="max-w-full w-full bg-black-3 m-auto mb-5">
            <img
              class="w-full h-full"
              src="../../image/rectangle-14.png"
              alt=""
            />
          </figure>
          <p class="">
            All of our body art services are completely freehand, temporary, &
            fun
          </p>
          <button class="bg-black w-full py-4 text-white mb-[4.375rem]">
            Book Now
          </button>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container mx-auto">
      <div class="p-5 lg:pt-0 lg:pb-[150px] lg:px-30">
        <h2 class="hidden lg:block text-h2">Portfolio</h2>
        <h2 class="lg:hidden">Portfolio</h2>
        <div class="lg:flex justify-center">
          <div class="w-full lg:w-[48.333%] mr-[3.333%]">
            <figure
              class="max-w-full sm:w-full sm:h-full bg-black-3 m-auto mb-5 relative"
            >
              <img
                class="w-full h-full"
                src="../../image/rectangle-14.png"
                alt=""
              />
              <figcaption
                class="bg-white-7 backdrop-blur-[0.125rem] w-full sm:p-5 sm:h-[5.625rem] h-[3.75rem] absolute top-0 left-0"
              >
                <h5
                  class="text-[0.813rem] leading-4 lg:leading-5 lg:text-base text-light pt-[0.625rem] pl-[1.188rem]"
                >
                  Aliqua id fugiat nostrud
                </h5>
                <h5
                  class="text-[0.813rem] leading-4 text-light pt-[0.625rem] pl-[1.188rem]"
                >
                  01/02/2023
                </h5>
              </figcaption>
            </figure>
          </div>
          <div class="m-auto max-w-full lg:w-[45%] mb-10 lg:mb-0">
            <div class="flex items-center justify-between gap-6 lg:gap-10">
              <figure class="max-w-full w-full">
                <img
                  class="w-full h-full"
                  src="../../image/rectangle-16.png"
                  alt=""
                />
                <figcaption class="mt-5">
                  <h5
                    class="text-[0.813rem] leading-4 text-light pt-[0.625rem]"
                  >
                    Aliqua id fugiat nostrud
                  </h5>
                  <h5
                    class="text-[0.813rem] leading-4 text-light pt-[0.625rem]"
                  >
                    01/02/2023
                  </h5>
                </figcaption>
              </figure>
              <div class="max-w-full w-full">
                <figure>
                  <img
                    class="w-full h-full"
                    src="../../image/rectangle-16.png"
                    alt=""
                  />
                  <figcaption class="mt-5">
                    <h5
                      class="text-[0.813rem] leading-4 text-light pt-[0.625rem]"
                    >
                      Aliqua id fugiat nostrud
                    </h5>
                    <h5
                      class="text-[0.813rem] leading-4 text-light pt-[0.625rem]"
                    >
                      01/02/2023
                    </h5>
                  </figcaption>
                </figure>
              </div>
            </div>
            <div class="sm:flex items-end lg:mt-[11.25rem] mt-10">
              <a
                class="hidden lg:block font-montserrat font-semibold text-base leading-5 uppercase underline text-black"
                href=""
              >
                View All
              </a>
              <div class="w-full lg:w-56 flex lg:ml-auto items-center lg:gap-5">
                <button
                  class="w-[6.25rem] h-[6.25rem] flex items-center justify-center border border-disabled rounded-full"
                >
                  <svg
                    class="w-12 h-5"
                    width="48"
                    height="20"
                    viewBox="0 0 48 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <mask id="path-1-inside-1_429_323" fill="white">
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M5.59549 10.5L48 10.5L48 9.5L5.59072 9.5C5.69746 6.53865 6.89414 3.26933 10 -1.66103e-06L-4.37114e-07 10L9.56108 19.5611C9.70913 19.717 9.85581 19.8634 10 20L9.56108 19.5611C7.76679 17.672 5.77247 14.3988 5.59549 10.5Z"
                      >
                      </path>
                    </mask>
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M5.59549 10.5L48 10.5L48 9.5L5.59072 9.5C5.69746 6.53865 6.89414 3.26933 10 -1.66103e-06L-4.37114e-07 10L9.56108 19.5611C9.70913 19.717 9.85581 19.8634 10 20L9.56108 19.5611C7.76679 17.672 5.77247 14.3988 5.59549 10.5Z"
                      fill="#CDCDCD"
                    >
                    </path>
                    <path
                      d="M48 10.5L48 11.5L49 11.5L49 10.5L48 10.5ZM5.59549 10.5L5.59549 9.5L4.54906 9.5L4.59652 10.5453L5.59549 10.5ZM48 9.5L49 9.5L49 8.5L48 8.5L48 9.5ZM5.59072 9.5L4.59137 9.46398L4.55403 10.5L5.59072 10.5L5.59072 9.5ZM10 -1.66103e-06L10.725 0.688748L9.29289 -0.707108L10 -1.66103e-06ZM-4.37114e-07 10L-0.707108 9.29289L-1.41422 10L-0.707108 10.7071L-4.37114e-07 10ZM10 20L9.31225 20.726L10.7071 19.2929L10 20ZM48 9.5L5.59549 9.5L5.59549 11.5L48 11.5L48 9.5ZM47 9.5L47 10.5L49 10.5L49 9.5L47 9.5ZM5.59072 10.5L48 10.5L48 8.5L5.59072 8.5L5.59072 10.5ZM9.275 -0.688751C6.01697 2.74075 4.70768 6.23686 4.59137 9.46398L6.59008 9.53602C6.68723 6.84045 7.7713 3.7979 10.725 0.688748L9.275 -0.688751ZM0.707107 10.7071L10.7071 0.707105L9.29289 -0.707108L-0.707108 9.29289L0.707107 10.7071ZM10.2682 18.854L0.707107 9.29289L-0.707108 10.7071L8.85398 20.2682L10.2682 18.854ZM10.6877 19.274C10.5567 19.1499 10.4225 19.016 10.2862 18.8724L8.83601 20.2498C8.99576 20.4179 9.15488 20.5769 9.31225 20.726L10.6877 19.274ZM8.85398 20.2682L9.29289 20.7071L10.7071 19.2929L10.2682 18.854L8.85398 20.2682ZM4.59652 10.5453C4.78728 14.7479 6.9256 18.2384 8.83601 20.2498L10.2862 18.8724C8.60798 17.1055 6.75765 14.0497 6.59446 10.4547L4.59652 10.5453Z"
                      fill="#CDCDCD"
                      mask="url(#path-1-inside-1_429_323)"
                    >
                    </path>
                  </svg>
                </button>
                <button
                  class="w-[6.25rem] h-[6.25rem] flex items-center justify-center border border-black rounded-full ml-auto"
                >
                  <svg
                    class="w-12 h-5"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 48 20"
                  >
                    <mask id="a" fill="#fff">
                      <path
                        fill-rule="evenodd"
                        d="M42.404 9.5H0v1h42.41c-.107 2.961-1.304 6.23-4.41 9.5l10-10L38.439.439A11.738 11.738 0 0 0 38 0l.439.439C40.233 2.328 42.227 5.6 42.404 9.5Z"
                        clip-rule="evenodd"
                      >
                      </path>
                    </mask>
                    <path
                      fill="#383533"
                      fill-rule="evenodd"
                      d="M42.404 9.5H0v1h42.41c-.107 2.961-1.304 6.23-4.41 9.5l10-10L38.439.439A11.738 11.738 0 0 0 38 0l.439.439C40.233 2.328 42.227 5.6 42.404 9.5Z"
                      clip-rule="evenodd"
                    >
                    </path>
                    <path
                      fill="#383533"
                      d="M0 9.5v-1h-1v1h1Zm42.404 0v1h1.047l-.047-1.045-1 .045ZM0 10.5h-1v1h1v-1Zm42.41 0 .999.036.037-1.036h-1.037v1ZM38 20l-.725-.689 1.432 1.396L38 20Zm10-10 .707.707.707-.707-.707-.707L48 10ZM38 0l.688-.726L37.293.707 38 0ZM0 10.5h42.404v-2H0v2Zm1 0v-1h-2v1h2Zm41.41-1H0v2h42.41v-2Zm-3.685 11.189c3.258-3.43 4.567-6.926 4.684-10.153l-2-.072c-.096 2.695-1.18 5.738-4.134 8.847l1.45 1.378Zm8.568-11.396-10 10 1.414 1.414 10-10-1.414-1.414Zm-9.561-8.147 9.56 9.561 1.415-1.414-9.561-9.561-1.414 1.414Zm-.42-.42c.131.124.266.258.402.402l1.45-1.378a13.35 13.35 0 0 0-.476-.476L37.312.726Zm1.834-.994-.439-.44L37.293.708l.439.439 1.414-1.414Zm4.258 9.723c-.191-4.203-2.33-7.693-4.24-9.705l-1.45 1.378c1.678 1.766 3.528 4.822 3.692 8.417l1.998-.09Z"
                      mask="url(#a)"
                    >
                    </path>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container mx-auto">
      <div class="px-5 lg:px-30">
        <!-- Desktop version-->
        <div class="hidden lg:block">
          <h2 class="text-h2">Testimonials</h2>
          <div class="flex justify-between items-end">
            <div class="max-w-full w-[ lg:w-[51.666%] mr-[3.333%]">
              <div class="flex -ml-4">
                <svg
                  class="max-w-full w-[1.938rem] h-[1.563rem] font-cinzel font-normal text-[120px] leading-[100%]"
                  viewBox="0 0 31 25"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M29 21.2C28.52 22.4 27.6 23.2 26.24 23.6C24.96 24 23.6 23.92 22.16 23.36C20.8 22.8 19.76 21.68 19.04 20C18 17.52 17.6 15.16 17.84 12.92C18.08 10.68 18.76 8.68 19.88 6.92C21.08 5.08 22.56 3.64 24.32 2.6C26.08 1.55999 28 0.999994 30.08 0.919995L30.32 2C27.76 2.79999 26.08 3.99999 25.28 5.59999C24.48 7.12 24.24 8.64 24.56 10.16C24.88 11.68 25.4 12.88 26.12 13.76C26.68 14.4 27.24 15.08 27.8 15.8C28.44 16.52 28.92 17.32 29.24 18.2C29.56 19.08 29.48 20.08 29 21.2ZM12.2 21.2C11.72 22.4 10.8 23.2 9.44 23.6C8.16 24 6.8 23.92 5.36 23.36C4 22.8 2.96 21.68 2.24 20C1.2 17.52 0.8 15.16 1.04 12.92C1.28 10.68 1.96 8.68 3.08 6.92C4.28 5.08 5.76 3.64 7.52 2.6C9.28 1.55999 11.2 0.999994 13.28 0.919995L13.52 2C10.96 2.79999 9.28 3.99999 8.48 5.59999C7.68 7.12 7.44 8.64 7.76 10.16C8.08 11.68 8.6 12.88 9.32 13.76C9.88 14.4 10.44 15.08 11 15.8C11.64 16.52 12.12 17.32 12.44 18.2C12.76 19.08 12.68 20.08 12.2 21.2Z"
                    fill="#383533"
                  >
                  </path>
                </svg>
                <p
                  class="font-cinzel text-[2.5rem] py-5 leading-[100%] text-black"
                >
                  Amet minim molliteniam consequat sunt
                </p>
              </div>
              <div class="border-l-2 border-[#A1BD74] mb-5">
                <p class="ml-3 italic">
                  Aliqua id fugiat nostrud irure ex duis ea quis id quis ad et.
                  Sunt qui esse pariatur duis deserunt mollit dolore cillum
                  minim tempor enim. Elit aute irure tempor cupidatat incididunt
                  sint deserunt ut voluptate aute id deserunt nisi.
                </p>
              </div>
              <h4
                class="font-montserrat font-semibold text-xl leading-6 text-black"
              >
                Flores, Juanita
              </h4>
              <div class="max-w-full flex justify-between items-end">
                <div class="flex items-center justify-between gap-5 mr-5">
                  <button
                    class="w-[6.25rem] h-[6.25rem] flex items-center justify-center border border-disabled rounded-full"
                  >
                    <svg
                      class="w-12 h-5"
                      width="48"
                      height="20"
                      viewBox="0 0 48 20"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <mask id="path-1-inside-1_429_323" fill="white">
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M5.59549 10.5L48 10.5L48 9.5L5.59072 9.5C5.69746 6.53865 6.89414 3.26933 10 -1.66103e-06L-4.37114e-07 10L9.56108 19.5611C9.70913 19.717 9.85581 19.8634 10 20L9.56108 19.5611C7.76679 17.672 5.77247 14.3988 5.59549 10.5Z"
                        >
                        </path>
                      </mask>
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M5.59549 10.5L48 10.5L48 9.5L5.59072 9.5C5.69746 6.53865 6.89414 3.26933 10 -1.66103e-06L-4.37114e-07 10L9.56108 19.5611C9.70913 19.717 9.85581 19.8634 10 20L9.56108 19.5611C7.76679 17.672 5.77247 14.3988 5.59549 10.5Z"
                        fill="#CDCDCD"
                      >
                      </path>
                      <path
                        d="M48 10.5L48 11.5L49 11.5L49 10.5L48 10.5ZM5.59549 10.5L5.59549 9.5L4.54906 9.5L4.59652 10.5453L5.59549 10.5ZM48 9.5L49 9.5L49 8.5L48 8.5L48 9.5ZM5.59072 9.5L4.59137 9.46398L4.55403 10.5L5.59072 10.5L5.59072 9.5ZM10 -1.66103e-06L10.725 0.688748L9.29289 -0.707108L10 -1.66103e-06ZM-4.37114e-07 10L-0.707108 9.29289L-1.41422 10L-0.707108 10.7071L-4.37114e-07 10ZM10 20L9.31225 20.726L10.7071 19.2929L10 20ZM48 9.5L5.59549 9.5L5.59549 11.5L48 11.5L48 9.5ZM47 9.5L47 10.5L49 10.5L49 9.5L47 9.5ZM5.59072 10.5L48 10.5L48 8.5L5.59072 8.5L5.59072 10.5ZM9.275 -0.688751C6.01697 2.74075 4.70768 6.23686 4.59137 9.46398L6.59008 9.53602C6.68723 6.84045 7.7713 3.7979 10.725 0.688748L9.275 -0.688751ZM0.707107 10.7071L10.7071 0.707105L9.29289 -0.707108L-0.707108 9.29289L0.707107 10.7071ZM10.2682 18.854L0.707107 9.29289L-0.707108 10.7071L8.85398 20.2682L10.2682 18.854ZM10.6877 19.274C10.5567 19.1499 10.4225 19.016 10.2862 18.8724L8.83601 20.2498C8.99576 20.4179 9.15488 20.5769 9.31225 20.726L10.6877 19.274ZM8.85398 20.2682L9.29289 20.7071L10.7071 19.2929L10.2682 18.854L8.85398 20.2682ZM4.59652 10.5453C4.78728 14.7479 6.9256 18.2384 8.83601 20.2498L10.2862 18.8724C8.60798 17.1055 6.75765 14.0497 6.59446 10.4547L4.59652 10.5453Z"
                        fill="#CDCDCD"
                        mask="url(#path-1-inside-1_429_323)"
                      >
                      </path>
                    </svg>
                  </button>
                  <button
                    class="w-[6.25rem] h-[6.25rem] flex items-center justify-center border border-black rounded-full"
                  >
                    <svg
                      class="w-12 h-5"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 48 20"
                    >
                      <mask id="a" fill="#fff">
                        <path
                          fill-rule="evenodd"
                          d="M42.404 9.5H0v1h42.41c-.107 2.961-1.304 6.23-4.41 9.5l10-10L38.439.439A11.738 11.738 0 0 0 38 0l.439.439C40.233 2.328 42.227 5.6 42.404 9.5Z"
                          clip-rule="evenodd"
                        >
                        </path>
                      </mask>
                      <path
                        fill="#383533"
                        fill-rule="evenodd"
                        d="M42.404 9.5H0v1h42.41c-.107 2.961-1.304 6.23-4.41 9.5l10-10L38.439.439A11.738 11.738 0 0 0 38 0l.439.439C40.233 2.328 42.227 5.6 42.404 9.5Z"
                        clip-rule="evenodd"
                      >
                      </path>
                      <path
                        fill="#383533"
                        d="M0 9.5v-1h-1v1h1Zm42.404 0v1h1.047l-.047-1.045-1 .045ZM0 10.5h-1v1h1v-1Zm42.41 0 .999.036.037-1.036h-1.037v1ZM38 20l-.725-.689 1.432 1.396L38 20Zm10-10 .707.707.707-.707-.707-.707L48 10ZM38 0l.688-.726L37.293.707 38 0ZM0 10.5h42.404v-2H0v2Zm1 0v-1h-2v1h2Zm41.41-1H0v2h42.41v-2Zm-3.685 11.189c3.258-3.43 4.567-6.926 4.684-10.153l-2-.072c-.096 2.695-1.18 5.738-4.134 8.847l1.45 1.378Zm8.568-11.396-10 10 1.414 1.414 10-10-1.414-1.414Zm-9.561-8.147 9.56 9.561 1.415-1.414-9.561-9.561-1.414 1.414Zm-.42-.42c.131.124.266.258.402.402l1.45-1.378a13.35 13.35 0 0 0-.476-.476L37.312.726Zm1.834-.994-.439-.44L37.293.708l.439.439 1.414-1.414Zm4.258 9.723c-.191-4.203-2.33-7.693-4.24-9.705l-1.45 1.378c1.678 1.766 3.528 4.822 3.692 8.417l1.998-.09Z"
                        mask="url(#a)"
                      >
                      </path>
                    </svg>
                  </button>
                </div>
                <figure class="w-[16.875rem] h-[16.938rem] max-w-full">
                  <img
                    class="w-full h-full"
                    src="../../image/rectangle-19.png"
                    alt=""
                  />
                </figure>
              </div>
            </div>
            <div class="lg:w-[45%]">
              <figure class="max-w-full">
                <img
                  class="w-full h-full"
                  src="../../image/hero-photo.png"
                  alt=""
                />
              </figure>
            </div>
          </div>
        </div>
        <!-- Mobile version-->
        <div class="lg:hidden">
          <h2>Testimonials</h2>
          <div class="flex">
            <svg
              class="w-[1.938rem] h-[1.563rem] font-cinzel font-normal text-[120px] leading-[100%]"
              viewBox="0 0 31 25"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M29 21.2C28.52 22.4 27.6 23.2 26.24 23.6C24.96 24 23.6 23.92 22.16 23.36C20.8 22.8 19.76 21.68 19.04 20C18 17.52 17.6 15.16 17.84 12.92C18.08 10.68 18.76 8.68 19.88 6.92C21.08 5.08 22.56 3.64 24.32 2.6C26.08 1.55999 28 0.999994 30.08 0.919995L30.32 2C27.76 2.79999 26.08 3.99999 25.28 5.59999C24.48 7.12 24.24 8.64 24.56 10.16C24.88 11.68 25.4 12.88 26.12 13.76C26.68 14.4 27.24 15.08 27.8 15.8C28.44 16.52 28.92 17.32 29.24 18.2C29.56 19.08 29.48 20.08 29 21.2ZM12.2 21.2C11.72 22.4 10.8 23.2 9.44 23.6C8.16 24 6.8 23.92 5.36 23.36C4 22.8 2.96 21.68 2.24 20C1.2 17.52 0.8 15.16 1.04 12.92C1.28 10.68 1.96 8.68 3.08 6.92C4.28 5.08 5.76 3.64 7.52 2.6C9.28 1.55999 11.2 0.999994 13.28 0.919995L13.52 2C10.96 2.79999 9.28 3.99999 8.48 5.59999C7.68 7.12 7.44 8.64 7.76 10.16C8.08 11.68 8.6 12.88 9.32 13.76C9.88 14.4 10.44 15.08 11 15.8C11.64 16.52 12.12 17.32 12.44 18.2C12.76 19.08 12.68 20.08 12.2 21.2Z"
                fill="#383533"
              >
              </path>
            </svg>
            <p class="font-cinzel text-xl mt-2">
              Amet minim molliteniam consequat sunt
            </p>
          </div>
          <div class="border-l-2 border-[#A1BD74] mb-5">
            <p class="ml-3 italic">
              Aliqua id fugiat nostrud irure ex duis ea quis id quis ad et. Sunt
              qui esse pariatur duis deserunt mollit dolore cillum minim tempor
              enim. Elit aute irure tempor cupidatat incididunt sint deserunt ut
              voluptate aute id deserunt nisi.
            </p>
          </div>
          <div
            class="flex items-center justify-between max-w-full gap-6 m-auto mb-10"
          >
            <figure class="w-full h-full max-w-full">
              <img
                class="w-full h-full"
                src="../../image/rectangle-19.png"
                alt=""
              />
            </figure>
            <figure class="w-full h-full max-w-full">
              <img
                class="w-full h-full"
                src="../../image/rectangle-18.png"
                alt=""
              />
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <!-- Mobile version -->
    <div class="container mx-auto">
      <div class="lg:hidden px-10">
        <div class="flex items-center justify-between mb-[4.375rem]">
          <button
            class="w-[6.25rem] h-[6.25rem] flex items-center justify-center border border-disabled rounded-full"
          >
            <svg
              class="w-12 h-5"
              width="48"
              height="20"
              viewBox="0 0 48 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <mask id="path-1-inside-1_429_323" fill="white">
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M5.59549 10.5L48 10.5L48 9.5L5.59072 9.5C5.69746 6.53865 6.89414 3.26933 10 -1.66103e-06L-4.37114e-07 10L9.56108 19.5611C9.70913 19.717 9.85581 19.8634 10 20L9.56108 19.5611C7.76679 17.672 5.77247 14.3988 5.59549 10.5Z"
                >
                </path>
              </mask>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M5.59549 10.5L48 10.5L48 9.5L5.59072 9.5C5.69746 6.53865 6.89414 3.26933 10 -1.66103e-06L-4.37114e-07 10L9.56108 19.5611C9.70913 19.717 9.85581 19.8634 10 20L9.56108 19.5611C7.76679 17.672 5.77247 14.3988 5.59549 10.5Z"
                fill="#CDCDCD"
              >
              </path>
              <path
                d="M48 10.5L48 11.5L49 11.5L49 10.5L48 10.5ZM5.59549 10.5L5.59549 9.5L4.54906 9.5L4.59652 10.5453L5.59549 10.5ZM48 9.5L49 9.5L49 8.5L48 8.5L48 9.5ZM5.59072 9.5L4.59137 9.46398L4.55403 10.5L5.59072 10.5L5.59072 9.5ZM10 -1.66103e-06L10.725 0.688748L9.29289 -0.707108L10 -1.66103e-06ZM-4.37114e-07 10L-0.707108 9.29289L-1.41422 10L-0.707108 10.7071L-4.37114e-07 10ZM10 20L9.31225 20.726L10.7071 19.2929L10 20ZM48 9.5L5.59549 9.5L5.59549 11.5L48 11.5L48 9.5ZM47 9.5L47 10.5L49 10.5L49 9.5L47 9.5ZM5.59072 10.5L48 10.5L48 8.5L5.59072 8.5L5.59072 10.5ZM9.275 -0.688751C6.01697 2.74075 4.70768 6.23686 4.59137 9.46398L6.59008 9.53602C6.68723 6.84045 7.7713 3.7979 10.725 0.688748L9.275 -0.688751ZM0.707107 10.7071L10.7071 0.707105L9.29289 -0.707108L-0.707108 9.29289L0.707107 10.7071ZM10.2682 18.854L0.707107 9.29289L-0.707108 10.7071L8.85398 20.2682L10.2682 18.854ZM10.6877 19.274C10.5567 19.1499 10.4225 19.016 10.2862 18.8724L8.83601 20.2498C8.99576 20.4179 9.15488 20.5769 9.31225 20.726L10.6877 19.274ZM8.85398 20.2682L9.29289 20.7071L10.7071 19.2929L10.2682 18.854L8.85398 20.2682ZM4.59652 10.5453C4.78728 14.7479 6.9256 18.2384 8.83601 20.2498L10.2862 18.8724C8.60798 17.1055 6.75765 14.0497 6.59446 10.4547L4.59652 10.5453Z"
                fill="#CDCDCD"
                mask="url(#path-1-inside-1_429_323)"
              >
              </path>
            </svg>
          </button>
          <button
            class="w-[6.25rem] h-[6.25rem] flex items-center justify-center border border-black rounded-full"
          >
            <svg
              class="w-12 h-5"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 48 20"
            >
              <mask id="a" fill="#fff">
                <path
                  fill-rule="evenodd"
                  d="M42.404 9.5H0v1h42.41c-.107 2.961-1.304 6.23-4.41 9.5l10-10L38.439.439A11.738 11.738 0 0 0 38 0l.439.439C40.233 2.328 42.227 5.6 42.404 9.5Z"
                  clip-rule="evenodd"
                >
                </path>
              </mask>
              <path
                fill="#383533"
                fill-rule="evenodd"
                d="M42.404 9.5H0v1h42.41c-.107 2.961-1.304 6.23-4.41 9.5l10-10L38.439.439A11.738 11.738 0 0 0 38 0l.439.439C40.233 2.328 42.227 5.6 42.404 9.5Z"
                clip-rule="evenodd"
              >
              </path>
              <path
                fill="#383533"
                d="M0 9.5v-1h-1v1h1Zm42.404 0v1h1.047l-.047-1.045-1 .045ZM0 10.5h-1v1h1v-1Zm42.41 0 .999.036.037-1.036h-1.037v1ZM38 20l-.725-.689 1.432 1.396L38 20Zm10-10 .707.707.707-.707-.707-.707L48 10ZM38 0l.688-.726L37.293.707 38 0ZM0 10.5h42.404v-2H0v2Zm1 0v-1h-2v1h2Zm41.41-1H0v2h42.41v-2Zm-3.685 11.189c3.258-3.43 4.567-6.926 4.684-10.153l-2-.072c-.096 2.695-1.18 5.738-4.134 8.847l1.45 1.378Zm8.568-11.396-10 10 1.414 1.414 10-10-1.414-1.414Zm-9.561-8.147 9.56 9.561 1.415-1.414-9.561-9.561-1.414 1.414Zm-.42-.42c.131.124.266.258.402.402l1.45-1.378a13.35 13.35 0 0 0-.476-.476L37.312.726Zm1.834-.994-.439-.44L37.293.708l.439.439 1.414-1.414Zm4.258 9.723c-.191-4.203-2.33-7.693-4.24-9.705l-1.45 1.378c1.678 1.766 3.528 4.822 3.692 8.417l1.998-.09Z"
                mask="url(#a)"
              >
              </path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </section>

  <!-- Desktop version -->
  <section>
    <div class="container mx-auto">
      <div class="px-5 lg:px-30">
        <div class="hidden lg:block mt-[9.375rem]">
          <div class="relative">
            <h1
              class="text-h1 font-cinzel font-normal tracking-3 uppercase text-black w-[390px] absolute top-1/2 left-0 -translate-y-1/2"
            >
              Karissa Smith
            </h1>
            <figure
              class="max-w-full lg:w-[48.333%] flex justify-center bg-[url('../../image/bg.png')] bg-no-repeat bg-cover bg-center m-auto mb-5 py-14 px-7 xl:px-24"
            >
              <img class="w-full" src="../../image/rectangle-35.png" alt="" />
            </figure>
            <p class="w-[16.75rem] absolute bottom-0 left-0 m-0">
              Karissa is the artist behind Henna Happens, a professionally and
              internationally trained henna artist.
            </p>
            <div class="flex absolute -right-20 bottom-0 text-olive">
              <svg
                class="max-w-full w-[1.938rem] h-[1.563rem] font-cinzel font-normal text-[120px] leading-[100%]"
                viewBox="0 0 31 25"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M29 21.2C28.52 22.4 27.6 23.2 26.24 23.6C24.96 24 23.6 23.92 22.16 23.36C20.8 22.8 19.76 21.68 19.04 20C18 17.52 17.6 15.16 17.84 12.92C18.08 10.68 18.76 8.68 19.88 6.92C21.08 5.08 22.56 3.64 24.32 2.6C26.08 1.55999 28 0.999994 30.08 0.919995L30.32 2C27.76 2.79999 26.08 3.99999 25.28 5.59999C24.48 7.12 24.24 8.64 24.56 10.16C24.88 11.68 25.4 12.88 26.12 13.76C26.68 14.4 27.24 15.08 27.8 15.8C28.44 16.52 28.92 17.32 29.24 18.2C29.56 19.08 29.48 20.08 29 21.2ZM12.2 21.2C11.72 22.4 10.8 23.2 9.44 23.6C8.16 24 6.8 23.92 5.36 23.36C4 22.8 2.96 21.68 2.24 20C1.2 17.52 0.8 15.16 1.04 12.92C1.28 10.68 1.96 8.68 3.08 6.92C4.28 5.08 5.76 3.64 7.52 2.6C9.28 1.55999 11.2 0.999994 13.28 0.919995L13.52 2C10.96 2.79999 9.28 3.99999 8.48 5.59999C7.68 7.12 7.44 8.64 7.76 10.16C8.08 11.68 8.6 12.88 9.32 13.76C9.88 14.4 10.44 15.08 11 15.8C11.64 16.52 12.12 17.32 12.44 18.2C12.76 19.08 12.68 20.08 12.2 21.2Z"
                  fill="#383533"
                >
                </path>
              </svg>
              <h2 class="w-[345px]">Amet minim molliteniam</h2>
            </div>
          </div>
          <div class="flex items-end mt-20">
            <figure class="w-[22.5%]">
              <img class="w-full" src="../../image/secondaryphoto.png" alt="" />
            </figure>
            <div class="w-[77.5%] ml-[3.333%]">
              <div class="flex items-start">
                <div class="w-[30.337%]">
                  <div class="flex -mb-2">
                    <span
                      class="text-[4.375rem] leading-none font-cinzel text-[#A1BD74]"
                    >
                      A
                    </span>
                    <p class="mb-2">
                      natural artist at heart, she was introduced to the medium
                      in 2014 and instantly fell in love.
                    </p>
                  </div>
                  <p>
                    With a passionate 8 years of professional experience, she
                    specializes in bridal, Indo-Arabic, Moroccan, and
                    contemporary designs; each design is uniquely freehand and
                    can tailored for you, the possibilities are endless.
                  </p>
                  <p class="mb-0">
                    Our fresh henna and jagua products are all natural, plant
                    based and hand mixed in small batches for the highest
                    staining quality and will definitely be a hit at your next
                    party, wedding, or event.
                  </p>
                </div>
                <figure class="w-[65.168%] ml-[4.494%]">
                  <img
                    class="w-full"
                    src="../../image/secondary-photo.png"
                    alt=""
                  />
                </figure>
              </div>
              <div class="flex items-center justify-between mt-5">
                <a
                  class="font-montserrat font-semibold text-xl leading-6"
                  href=""
                >
                  Book now for your one of a kind design!
                </a>
                <button class="bg-black p-4 w-[16.875rem] text-white">
                  Meet the Artist
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Mobile version -->
  <section>
    <div class="container mx-auto">
      <div class="px-5 lg:px-30">
        <div class="lg:hidden">
          <h2 class="text-center text-[2.188rem]">Karissa Smith</h2>
          <figure
            class="max-w-full flex justify-center bg-[url('../../image/bg.png')] bg-no-repeat bg-cover bg-center m-auto mb-5 py-3 px-12"
          >
            <img class="w-full" src="../../image/rectangle-35.png" alt="" />
          </figure>
          <p>
            Karissa is the artist behind Henna Happens, a professionally and
            internationally trained henna artist.
          </p>
          <figure class="max-w-full flex justify-center m-auto mb-5">
            <img class="w-full" src="../../image/secondary-photo.png" alt="" />
          </figure>
          <div class="flex -mb-2">
            <span
              class="text-[4.375rem] leading-none font-cinzel text-[#A1BD74]"
            >
              A
            </span>
            <p class="mb-2">
              natural artist at heart, she was introduced to the medium in 2014
              and instantly fell in love.
            </p>
          </div>
          <p>
            With a passionate 8 years of professional experience, she
            specializes in bridal, Indo-Arabic, Moroccan, and contemporary
            designs; each design is uniquely freehand and can tailored for you,
            the possibilities are endless.
          </p>
          <p>
            Our fresh henna and jagua products are all natural, plant based and
            hand mixed in small batches for the highest staining quality and
            will definitely be a hit at your next party, wedding, or event.
          </p>
          <h3
            class="font-montserrat font-semibold text-xl leading-6 mb-[1.875rem]"
          >
            Book now for your one of a kind design!
          </h3>
          <button class="bg-black w-full py-4 text-white mb-[4.375rem]">
            Meet the Artist
          </button>
        </div>
      </div>
    </div>
  </section>
  <!-- Services -->
  <section>
    <div class="container mx-auto">
      <div class="px-5 lg:px-30 lg:mt-[144px]">
        <h2 class="lg:text-h2">Services</h2>
      </div>
    </div>
    <div class="border-y border-disabled">
      <div class="container mx-auto">
        <ul
          class="px-5 lg:px-30 flex items-center justify-between py-[10px] lg:py-10 -ml-9"
        >
          <li class="ml-9"><a href="">Weddings</a></li>
          <li class="ml-9">
            <a class="text-black-30" href="">Individual Appountment</a>
          </li>
          <li class="ml-9">
            <a class="text-black-30" href="">Party & Events</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- mobile version -->
    <div class="container mx-auto">
      <div class="px-5 lg:px-30 mt-5 lg:hidden">
        <div>
          <h4 class="flex items-center mb-5">
            <span class="text-h1sm text-olive mr-[10px]">01</span> Bridal Henna
          </h4>
          <img class="w-full" src="../../image/flower.png" alt="Flower Image" />
          <p class="mt-5">
            Allows time for two wrap-around detailed hand designs from slightly
            above the wrists down to fingers, palms, and medium coverage feet
            using Ash Kumar Certified bridal techniques. Designs can be tailored
            to your specific needs and are customized for each bride.
          </p>
          <button class="p-4 border border-black w-full">Learn More</button>
        </div>
        <div class="mt-10">
          <h4 class="flex items-center mb-5">
            <span class="text-h1sm text-olive mr-[10px]">02</span> Wedding Party
          </h4>
          <img class="w-full" src="../../image/women.png" alt="Women Image" />
          <p class="mt-5">
            Adorn your wedding guests in custom one-of-a-kind freestyle henna
            designs. Small to medium coverage strip designs. Rate includes 4x2'
            table with cloth, signage, two chairs, aftercare sheets for each
            guest.
          </p>
          <button class="p-4 border border-black w-full">Learn More</button>
        </div>
      </div>
    </div>
    <!-- Desktop version -->
    <div class="container mx-auto">
      <div class="px-5 lg:px-30 mt-5 hidden lg:block">
        <div class="mt-20">
          <div class="flex items-center flex-wrap">
            <div class="w-[48.333%] mr-[3.333%] flex items-start">
              <h4 class="text-6xl xl:text-h1 text-olive">01</h4>
              <div class="w-[83.793%] ml-[20px]">
                <h4 class="flex items-center text-h2sm xl:text-h4 mb-5">
                  Bridal Henna
                </h4>

                <p class="mt-5">
                  Allows time for two wrap-around detailed hand designs from
                  slightly above the wrists down to fingers, palms, and medium
                  coverage feet using Ash Kumar Certified bridal techniques.
                  Designs can be tailored to your specific needs and are
                  customized for each bride.
                </p>
                <button
                  class="p-4 border border-black w-[270px] flex justify-center ml-auto mt-10"
                >
                  Learn More
                </button>
              </div>
            </div>
            <figure class="w-[48.333%]">
              <img
                class="w-full"
                src="../../image/flower.png"
                alt="Flower Image"
              />
            </figure>
          </div>
          <div class="flex items-center flex-wrap mt-20">
            <figure class="w-[48.333%]">
              <img
                class="w-full"
                src="../../image/women.png"
                alt="Women Image"
              />
            </figure>
            <div class="w-[48.333%] ml-[3.333%] flex items-start">
              <h4 class="text-6xl xl:text-h1 text-olive">02</h4>
              <div class="w-[83.793%] ml-[20px]">
                <h4 class="flex items-center text-h2sm xl:text-h4 mb-5">
                  Wedding Party
                </h4>

                <p class="mt-5">
                  Adorn your wedding guests in custom one-of-a-kind freestyle
                  henna designs. Small to medium coverage strip designs. Rate
                  includes 4x2' table with cloth, signage, two chairs, aftercare
                  sheets for each guest.
                </p>
                <button
                  class="p-4 border border-black w-[270px] flex justify-center ml-auto mt-10"
                >
                  Learn More
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-black-55">
    <div class="container mx-auto">
      <div class="px-5 lg:px-0 py-8 lg:py-20 mt-[70px] lg:w-[675px] mx-auto">
        <div
          class="text-center w-[304px] lg:w-full mx-auto mb-[30px] lg:mb-[60px]"
        >
          <h2 class="text-white lg:text-h2 leading-[100%] mb-0 lg:mb-5">
            Request an Appointment today!
          </h2>
          <h4 class="text-white mt-[10px] lg:mt-0">Will Travel to You!</h4>
        </div>

        <div class="lg:flex items-end lg:w-[580px] lg:mx-auto">
          <p class="text-white mb-[10px] lg:w-[46.551%] mr-[6.896%]">
            For parties & events, design books (optional), aftercare sheets,
            signage and artistry will be provided at the location of choice.
          </p>
          <p class="text-white lg:w-[46.551%]">
            Looking for something smaller? Find our Booth Location!
          </p>
        </div>

        <button
          class="w-full lg:w-[580px] flex justify-center mx-auto bg-white p-4 mt-[30px] lg:mt-20"
        >
          Make An Appointment With An Artist
        </button>
      </div>
    </div>
  </section>
  <!-- Location section -->
  <section>
    <!-- Mobile version -->
    <div class="container mx-auto">
      <div class="py-[70px] lg:hidden">
        <h2 class="px-5">Location</h2>
        <img class="w-full" src="../../image/location.png" alt="" />
        <div class="px-5 mt-[30px]">
          <div class="relative">
            <div class="ml-[26px]">
              <h4
                class="mb-[30px] before:content-[''] before:w-4 before:h-4 before:rounded-full before:border before:border-black before:absolute before:left-0 before:top-0"
              >
                Keep It Simple in Waikiki
              </h4>
              <p>227 Lewers St R-103Honolulu, HI 96815United States</p>
              <p class="mb-0">This week's schedule:</p>
              <p class="text-xl leading-6 font-semibold">27th Friday 4-8pm</p>
            </div>
          </div>
          <div class="my-10 relative">
            <div class="ml-[26px]">
              <h4
                class="mb-[30px] before:content-[''] before:w-4 before:h-4 before:rounded-full before:border before:border-black before:absolute before:left-0 before:top-0"
              >
                Kaka'ako Farmer's Market
              </h4>
              <p>210 Ward Ave,Honolulu, HI 96814United States</p>
              <p class="mb-0">This week's schedule:</p>
              <p class="text-xl leading-6 font-semibold">Saturday 8am-12pm</p>
            </div>
          </div>
          <div class="relative">
            <div class="ml-[26px]">
              <h4
                class="mb-[30px] before:content-[''] before:w-4 before:h-4 before:rounded-full before:border before:border-black before:absolute before:left-0 before:top-0"
              >
                Beachside Luxe in 'Alohilani
              </h4>
              <p>
                The Shops at'Alohilani Resort Waikiki Beach2490 Kalākaua Ave,
                Honolulu HI 96815 United States
              </p>
              <p class="mb-0">This week's schedule:</p>
              <p class="text-xl leading-6 font-semibold">Sunday 12-4pm</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Desktop version -->
    <div class="container ml-auto">
      <div class="pl-30 my-[150px] hidden lg:block">
        <h2 class="text-h2 leading-[100%] m-0">Location</h2>
        <div class="flex items-end">
          <div class="w-[43.939%] mr-[3.030%]">
            <div class="ml-9">
              <h4
                class="mb-[30px] relative text-3xl xl:text-h4 before:content-[''] before:w-4 before:h-4 before:rounded-full before:border before:border-black before:absolute before:-left-9 before:top-2"
              >
                Keep It Simple in Waikiki
              </h4>
              <div class="w-[270px] ml-auto">
                <p>227 Lewers St R-103Honolulu, HI 96815United States</p>
                <p class="mb-0">This week's schedule:</p>
                <p class="text-xl leading-6 font-semibold">27th Friday 4-8pm</p>
              </div>
            </div>
            <div class="ml-9 my-10">
              <h4
                class="mb-[30px] relative text-3xl xl:text-h4 before:content-[''] before:w-4 before:h-4 before:rounded-full before:border before:border-black before:absolute before:-left-9 before:top-2"
              >
                Kaka'ako Farmer's Market
              </h4>
              <div class="w-[270px] ml-auto">
                <p>210 Ward Ave,Honolulu, HI 96814United States</p>
                <p class="mb-0">This week's schedule:</p>
                <p class="text-xl leading-6 font-semibold">Saturday 8am-12pm</p>
              </div>
            </div>
            <div class="ml-9">
              <h4
                class="mb-[30px] relative text-3xl xl:text-h4 before:content-[''] before:w-4 before:h-4 before:rounded-full before:border before:border-black before:absolute before:-left-9 before:top-2"
              >
                Beachside Luxe in 'Alohilani
              </h4>
              <div class="w-[270px] ml-auto">
                <p>
                  The Shops at'Alohilani Resort Waikiki Beach2490 Kalākaua Ave, <br
                  />
                  Honolulu HI 96815 United States
                </p>
                <p class="mb-0">This week's schedule:</p>
                <p class="text-xl leading-6 font-semibold">Sunday 12-4pm</p>
              </div>
            </div>
          </div>
          <figure class="w-[53.030%]">
            <img class="w-full" src="../../image/location-2.png" alt="" />
          </figure>
        </div>
      </div>
    </div>
  </section>
  <section class="border-b border-disabled">
    <!-- Mobile version -->
    <div class="container mx-auto">
      <div class="px-5 pb-[70px] lg:hidden">
        <h4 class="mb-5">Q&A</h4>
        <div class="flex items-center justify-between mb-10">
          <h4 class="mr-5">What is Henna?</h4>
          <img src="../../image/down.png" alt="" />
        </div>
        <div class="flex items-center justify-between mb-10">
          <h4 class="mr-5">Want the tattoo look? Meet Jagua!</h4>
          <img src="../../image/down.png" alt="" />
        </div>
        <div class="flex items-center justify-between mb-10">
          <h4 class="mr-5">Aftercare: Both henna and jagua</h4>
          <img src="../../image/down.png" alt="" />
        </div>
        <div class="flex items-center justify-between mb-10">
          <h4 class="mr-5">Henna Aftercare</h4>
          <img src="../../image/down.png" alt="" />
        </div>
        <div class="flex items-center justify-between mb-10">
          <h4 class="mr-5">Jagua Aftercare</h4>
          <img src="../../image/down.png" alt="" />
        </div>
        <div class="flex items-center justify-between mb-10">
          <h4 class="mr-5">White henna glam</h4>
          <img src="../../image/down.png" alt="" />
        </div>
        <div class="flex items-center justify-between mb-10">
          <h4 class="mr-5">What's the price?</h4>
          <img src="../../image/down.png" alt="" />
        </div>
        <div class="flex items-center justify-between mb-10">
          <h4 class="mr-5">Private mobile appointment</h4>
          <img src="../../image/down.png" alt="" />
        </div>
        <div class="flex items-center justify-between mb-10">
          <h4 class="mr-5">Henna Party Rate</h4>
          <img src="../../image/down.png" alt="" />
        </div>
      </div>
    </div>
    <!-- Desktop version -->
    <div class="container ml-auto">
      <div class="hidden lg:block">
        <div class="pr-0 flex pl-30 pb-[70px]">
          <h4 class="mb-5 w-[10%] text-h2">Q&A</h4>
          <div class="w-[76.515%] ml-[13.484%]">
            <div
              class="flex items-center justify-between mb-10 pb-10 border-b border-disabled"
            >
              <h4 class="mr-5 text-h4">What is Henna?</h4>
              <img class="mr-[134px]" src="../../image/down.png" alt="" />
            </div>
            <div
              class="flex items-center justify-between mb-10 pb-10 border-b border-disabled"
            >
              <h4 class="mr-5 text-h4">Want the tattoo look? Meet Jagua!</h4>
              <img class="mr-[134px]" src="../../image/down.png" alt="" />
            </div>
            <div
              class="flex items-center justify-between mb-10 pb-10 border-b border-disabled"
            >
              <h4 class="mr-5 text-h4">Aftercare: Both henna and jagua</h4>
              <img class="mr-[134px]" src="../../image/down.png" alt="" />
            </div>
            <div
              class="flex items-center justify-between mb-10 pb-10 border-b border-disabled"
            >
              <h4 class="mr-5 text-h4">Henna Aftercare</h4>
              <img class="mr-[134px]" src="../../image/down.png" alt="" />
            </div>
            <div
              class="flex items-center justify-between mb-10 pb-10 border-b border-disabled"
            >
              <h4 class="mr-5 text-h4">Jagua Aftercare</h4>
              <img class="mr-[134px]" src="../../image/down.png" alt="" />
            </div>
            <div
              class="flex items-center justify-between mb-10 pb-10 border-b border-disabled"
            >
              <h4 class="mr-5 text-h4">White henna glam</h4>
              <img class="mr-[134px]" src="../../image/down.png" alt="" />
            </div>
            <div
              class="flex items-center justify-between mb-10 pb-10 border-b border-disabled"
            >
              <h4 class="mr-5 text-h4">What's the price?</h4>
              <img class="mr-[134px]" src="../../image/down.png" alt="" />
            </div>
            <div
              class="flex items-center justify-between mb-10 pb-10 border-b border-disabled"
            >
              <h4 class="mr-5 text-h4">Private mobile appointment</h4>
              <img class="mr-[134px]" src="../../image/down.png" alt="" />
            </div>
            <div
              class="flex items-center justify-between mb-10 pb-10 border-b border-disabled"
            >
              <h4 class="mr-5 text-h4">Henna Party Rate</h4>
              <img class="mr-[134px]" src="../../image/down.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
