<footer>
  <div class="container mx-auto">
    <!-- Mobile version -->
    <div class="px-5 py-5 lg:hidden">
      <h4 class="text-center text-2xl">Henna Happens</h4>
      <h4 class="text-xl leading-[100%] mt-[22px]">
        Are you ready to book an appointment with the artist?
      </h4>
      <button class="w-full p-4 bg-black-button text-white mt-5">
        Book Now
      </button>
      <div class="flex items-center justify-between mt-10">
        <ul>
          <li class="mb-10"><a href="">About</a></li>
          <li class="mb-10"><a href="">Portfolio</a></li>
          <li class="mb-10"><a href="">Services</a></li>
        </ul>
        <ul>
          <li class="mb-10"><a href="">Location</a></li>
          <li class="mb-10"><a href="">Events</a></li>
          <li class="mb-10"><a href="">FAQ</a></li>
        </ul>
      </div>
      <div class="text-right w-[200px] ml-auto">
        <p class="mb-[10px]">tel. (425) 387-8307</p>
        <p class="text-black-30">Mon.-Fri. 9:00AM - 6:0PM</p>
        <p>Pearl City, HI 96782 Serving Pearl City Area</p>
      </div>
      <div class="flex items-center justify-between p-5 mt-5">
        <img src="../../image/social-1.png" alt="" />
        <img src="../../image/instragram.png" alt="" />
        <img src="../../image/youtube.png" alt="" />
      </div>
    </div>
  </div>
  <!-- Desktop version -->
  <dir class="container mx-auto my-0">
    <div class="px-30 py-10 hidden lg:block">
      <h4 class="text-center text-2xl">Henna Happens</h4>
      <div class="flex items-start mt-10 mb-[74px]">
        <div class="w-[48.333%] mr-[3.333%]">
          <h4 class="text-h4">
            Are you ready to book an appointment with the artist?
          </h4>
          <button class="w-[270px] p-4 bg-black-button text-white mt-10">
            Book Now
          </button>
        </div>
        <div class="flex items-start justify-between w-[48.333%]">
          <ul>
            <li class="mb-5"><a href="">About</a></li>
            <li class="mb-5"><a href="">Portfolio</a></li>
            <li class="mb-5"><a href="">Services</a></li>
            <li class="mb-5"><a href="">Location</a></li>
            <li class="mb-5"><a href="">Events</a></li>
            <li><a href="">FAQ</a></li>
          </ul>
          <div>
            <div class="text-right w-[200px] ml-auto">
              <p class="mb-[10px]">tel. (425) 387-8307</p>
              <p class="text-black-30">Mon.-Fri. 9:00AM - 6:0PM</p>
              <p>Pearl City, HI 96782 Serving Pearl City Area</p>
            </div>
            <div class="flex items-center justify-between p-5 mt-5">
              <img src="../../image/social-1.png" alt="" />
              <img src="../../image/instragram.png" alt="" />
              <img src="../../image/youtube.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <p class="text-black-30">Privacy Policy</p>
    </div>
  </dir>
</footer>
