<header class="border-b border-gray">
  <!-- Mobile version -->

  <div class="container mx-auto">
    <nav class="lg:hidden w-full">
      <div class="flex items-center w-full justify-between p-5">
        <a href="/" class="text-black font-cinzel text-2xl">Henna Happens</a>
        <button>
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5 6H19M9 10H19M5 14H19M9 18H19"
              stroke="#383533"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
            </path>
          </svg>
        </button>
      </div>
      <div class="hidden w-full lg:flex flex-wrap p-5 nav-wrap pt-[4.375rem]">
        <div class="overflow-y-auto w-full">
          <ul class="space-y-4">
            <li>
              <a
                href="/about/"
                class="text-black hover:underline hover:text-black-30 transition-all text-base uppercase font-cinzel"
              >
                about
              </a>
            </li>
            <li>
              <a
                href="/portfolio/"
                class="text-black hover:underline hover:text-black-30 transition-all text-base uppercase font-cinzel"
              >
                portfolio
              </a>
            </li>
            <li>
              <a
                href="/services/"
                class="text-black hover:underline hover:text-black-30 transition-all text-base uppercase font-cinzel"
              >
                services
              </a>
            </li>
            <li>
              <a
                href="#"
                class="text-black hover:underline hover:text-black-30 transition-all text-base uppercase font-cinzel"
              >
                location
              </a>
            </li>
            <li>
              <a
                href="#"
                class="text-black hover:underline hover:text-black-30 transition-all text-base uppercase font-cinzel"
              >
                FAQ
              </a>
            </li>
          </ul>
        </div>
        <div class="w-full flex items-center justify-between">
          <a
            class="flex items-center justify-center w-[4.063rem] h-[4.063rem]"
            href="#"
          >
            <svg
              width="27"
              height="33"
              viewBox="0 0 27 33"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9.16667 20.7561L10.6915 20.4099C10.7233 20.4027 10.7772 20.3907 10.8409 20.3702C11.2621 20.2594 11.623 19.9924 11.8476 19.6256C12.0721 19.2588 12.1429 18.8207 12.0449 18.4036L12.0387 18.3772C11.9883 18.1774 11.9003 17.9886 11.7791 17.8206C11.6083 17.6079 11.397 17.4299 11.1569 17.2965C10.8742 17.1384 10.5784 17.0041 10.2726 16.895L8.60082 16.2952C7.66266 15.9526 6.72449 15.6196 5.77652 15.2938C5.16292 15.0799 4.6424 14.8912 4.19046 14.7529C4.10444 14.7296 4.01908 14.7039 3.93448 14.676C3.38824 14.5125 3.00366 14.444 2.6791 14.4416C2.46218 14.4336 2.2461 14.4722 2.0459 14.5546C1.83674 14.6434 1.64896 14.7745 1.49476 14.9392C1.41826 15.0245 1.34631 15.1136 1.2792 15.2061C1.14871 15.4029 1.04108 15.6133 0.958313 15.8336C0.647711 16.734 0.492883 17.6791 0.500251 18.6296C0.506375 19.4879 0.529645 20.5902 1.01098 21.3379C1.12733 21.5303 1.28288 21.6961 1.46781 21.8248C1.81075 22.0568 2.15613 22.088 2.51743 22.1133C3.05633 22.1505 3.57685 22.0219 4.09738 21.9029L9.16299 20.7549L9.16667 20.7561ZM26.1786 12.8115C25.7624 11.954 25.2027 11.1711 24.5227 10.4951C24.4349 10.4092 24.3407 10.3296 24.241 10.2571C24.1489 10.1893 24.0533 10.1263 23.9544 10.0684C23.8527 10.0137 23.748 9.96432 23.6409 9.92054C23.4294 9.83894 23.2028 9.80207 22.9759 9.81235C22.7591 9.82437 22.5472 9.88447 22.3549 9.98425C22.0646 10.1261 21.7499 10.3545 21.331 10.7355C21.2734 10.792 21.2012 10.8558 21.135 10.9159C20.7909 11.2344 20.4063 11.6275 19.9495 12.0843C19.2428 12.7851 18.5483 13.4895 17.8563 14.2L16.6193 15.4597C16.3935 15.6895 16.1878 15.9376 16.0045 16.2014C15.8476 16.4247 15.7365 16.6758 15.6775 16.9407C15.6444 17.1442 15.6494 17.352 15.6922 17.5538L15.6983 17.5802C15.7961 17.9968 16.0547 18.3599 16.4198 18.5931C16.7848 18.8263 17.2278 18.9113 17.6555 18.8304C17.707 18.8233 17.7581 18.8136 17.8086 18.8015L24.4003 17.3061C24.9208 17.1883 25.4474 17.0801 25.9141 16.8133C26.2276 16.6366 26.5252 16.4599 26.7297 16.1041C26.8387 15.9081 26.9046 15.6919 26.9233 15.4694C27.0249 14.587 26.5558 13.5857 26.1786 12.8115ZM14.378 15.5319C14.8557 14.9428 14.8557 14.0653 14.8973 13.3465C15.0418 10.9483 15.1925 8.55016 15.3137 6.1508C15.3591 5.24203 15.4583 4.34527 15.4032 3.42929C15.3578 2.67438 15.3529 1.80647 14.8667 1.1862C14.0094 0.0923011 12.1796 0.182458 10.9315 0.353154C10.5465 0.405349 10.1644 0.475955 9.7864 0.56472C9.40672 0.653674 9.02949 0.751043 8.66207 0.867645C7.46425 1.25231 5.7802 1.95914 5.49605 3.31389C5.33438 4.07961 5.71651 4.86217 6.01046 5.56178C6.36931 6.40805 6.85799 7.17137 7.3038 7.96835C8.48325 10.0732 9.68351 12.166 10.8801 14.2601C11.239 14.8851 11.6272 15.6761 12.3192 16.0007C12.3657 16.0199 12.4123 16.0367 12.46 16.0524C12.7699 16.1678 13.1092 16.1894 13.4313 16.1161L13.4889 16.1041C13.7877 16.0235 14.0571 15.8636 14.269 15.6437C14.3082 15.6076 14.3437 15.5715 14.3793 15.5319H14.378ZM13.8061 21.9522C13.6196 21.6948 13.355 21.5019 13.0501 21.4011C12.7452 21.3002 12.4156 21.2966 12.1085 21.3908C12.0363 21.4142 11.9659 21.4427 11.8979 21.4762C11.7926 21.5289 11.6922 21.5904 11.5978 21.6601C11.3282 21.8686 11.0873 22.1106 10.8813 22.3801C10.8287 22.4462 10.7797 22.534 10.716 22.5917L9.65534 24.0222C9.05521 24.8252 8.4612 25.6294 7.87454 26.4456C7.48997 26.9733 7.15928 27.4193 6.89596 27.8123C6.84697 27.8869 6.79553 27.9686 6.74899 28.0359C6.43422 28.512 6.25663 28.8606 6.16477 29.1707C6.09616 29.3767 6.07441 29.595 6.10108 29.8102C6.13048 30.0338 6.20764 30.249 6.32644 30.4425C6.39013 30.5387 6.45872 30.6324 6.5322 30.7226C6.69093 30.9019 6.86964 31.0632 7.06498 31.2034C7.79738 31.7035 8.59838 32.0629 9.44101 32.3406C10.1428 32.569 10.8715 32.706 11.6088 32.7469C11.735 32.7529 11.8611 32.7505 11.9861 32.7397C12.1019 32.7291 12.2172 32.713 12.3314 32.6916C12.4458 32.6655 12.5586 32.6334 12.6695 32.5954C12.885 32.5162 13.0811 32.3933 13.2451 32.2348C13.4007 32.0821 13.5207 31.8982 13.5954 31.6951C13.7179 31.3946 13.7987 31.0147 13.8526 30.4497C13.8563 30.3692 13.8685 30.273 13.8771 30.1853C13.9187 29.7164 13.9383 29.1635 13.9677 28.5168C14.0204 27.5202 14.0608 26.5285 14.0927 25.5344L14.1612 23.7649C14.1772 23.3586 14.1637 22.9066 14.0486 22.5015C13.9979 22.307 13.9161 22.1215 13.8061 21.9522ZM25.7757 24.7206C25.5552 24.4814 25.2417 24.2446 24.7469 23.9513C24.6758 23.9116 24.5913 23.8599 24.5142 23.8142C24.1026 23.5702 23.6066 23.3154 23.0273 23.0064C22.1369 22.5256 21.2465 22.0592 20.3463 21.5952L18.7578 20.7681C18.6757 20.7441 18.5924 20.6864 18.514 20.6491C18.2086 20.496 17.8842 20.3825 17.5489 20.3113C17.4334 20.2895 17.3163 20.2774 17.1987 20.2753C17.1225 20.2749 17.0464 20.2793 16.9708 20.2885C16.6528 20.3367 16.3585 20.4822 16.1297 20.7044C15.901 20.9265 15.7496 21.2139 15.6971 21.5254C15.6738 21.7238 15.6812 21.9245 15.7204 22.1193C15.7975 22.5352 15.9861 22.9451 16.1821 23.3045L17.0296 24.866C17.5024 25.746 17.98 26.6211 18.47 27.4938C18.7859 28.0624 19.0493 28.5492 19.2954 28.9531C19.342 29.0289 19.3947 29.1106 19.4351 29.1815C19.7351 29.666 19.9752 29.9713 20.2189 30.1913C20.3813 30.3445 20.5761 30.4607 20.7896 30.5313C21.003 30.602 21.2297 30.6254 21.4535 30.6C21.57 30.586 21.6857 30.566 21.8001 30.5399C22.0344 30.4783 22.2608 30.3908 22.4749 30.279C23.1196 29.9244 23.7138 29.4879 24.2423 28.9808C24.8767 28.3677 25.4376 27.6994 25.8736 26.9348C25.9349 26.8266 25.9863 26.7148 26.0304 26.5982C26.0715 26.4915 26.107 26.3827 26.137 26.2725C26.1627 26.1595 26.1823 26.0465 26.1958 25.9323C26.2177 25.7078 26.1914 25.4814 26.1186 25.2675C26.0467 25.0623 25.9296 24.8752 25.7757 24.7194V24.7206Z"
                fill="#383533"
              >
              </path>
            </svg>
          </a>
          <a
            class="flex items-center justify-center w-[4.063rem] h-[4.063rem]"
            href="#"
          >
            <svg
              width="35"
              height="37"
              viewBox="0 0 35 37"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M11.6737 18.4999C11.6737 15.2328 14.2824 12.5836 17.5011 12.5836C20.7199 12.5836 23.3299 15.2328 23.3299 18.4999C23.3299 21.767 20.7199 24.4162 17.5011 24.4162C14.2824 24.4162 11.6737 21.767 11.6737 18.4999ZM8.52279 18.4999C8.52279 23.5331 12.5424 27.6131 17.5011 27.6131C22.4599 27.6131 26.4795 23.5331 26.4795 18.4999C26.4795 13.4667 22.4599 9.38673 17.5011 9.38673C12.5424 9.38673 8.52279 13.4667 8.52279 18.4999ZM24.7367 9.02539C24.7365 9.4466 24.8594 9.85841 25.0899 10.2087C25.3203 10.5591 25.6479 10.8322 26.0312 10.9935C26.4145 11.1549 26.8364 11.1972 27.2434 11.1152C27.6505 11.0332 28.0244 10.8305 28.318 10.5328C28.6115 10.235 28.8115 9.85565 28.8926 9.44256C28.9738 9.02947 28.9324 8.60124 28.7737 8.21202C28.6151 7.8228 28.3463 7.49008 28.0013 7.25592C27.6564 7.02177 27.2507 6.8967 26.8358 6.89653H26.8349C26.2787 6.89679 25.7453 7.12114 25.3518 7.5203C24.9584 7.91945 24.7372 8.46078 24.7367 9.02539ZM10.4372 32.946C8.73247 32.8672 7.8059 32.579 7.19015 32.3355C6.37381 32.0129 5.79135 31.6287 5.17895 31.008C4.56656 30.3872 4.18748 29.7966 3.87107 28.968C3.63104 28.3433 3.34708 27.4025 3.26959 25.6722C3.18482 23.8015 3.16789 23.2395 3.16789 18.5C3.16789 13.7606 3.18622 13.2002 3.26959 11.3279C3.34722 9.59757 3.63327 8.65865 3.87107 8.03209C4.18888 7.20349 4.56739 6.61228 5.17895 5.99069C5.79051 5.3691 6.37241 4.98434 7.19015 4.66318C7.80562 4.41954 8.73247 4.13132 10.4372 4.05266C12.2802 3.96662 12.8339 3.94944 17.5011 3.94944C22.1684 3.94944 22.7226 3.96804 24.5672 4.05266C26.2719 4.13146 27.1969 4.42181 27.8142 4.66318C28.6306 4.98434 29.213 5.36995 29.8254 5.99069C30.4378 6.61143 30.8155 7.20349 31.1333 8.03209C31.3733 8.65681 31.6573 9.59757 31.7348 11.3279C31.8195 13.2002 31.8365 13.7606 31.8365 18.5C31.8365 23.2395 31.8195 23.7999 31.7348 25.6722C31.6571 27.4025 31.3718 28.343 31.1333 28.968C30.8155 29.7966 30.437 30.3878 29.8254 31.008C29.2139 31.6281 28.6306 32.0129 27.8142 32.3355C27.1987 32.5791 26.2719 32.8673 24.5672 32.946C22.7241 33.032 22.1705 33.0492 17.5011 33.0492C12.8318 33.0492 12.2797 33.032 10.4372 32.946ZM10.2924 0.859799C8.43102 0.945839 7.15909 1.24542 6.04831 1.68414C4.89793 2.1372 3.92409 2.74502 2.95094 3.73121C1.97779 4.71741 1.3805 5.70744 0.934147 6.87509C0.501917 8.00327 0.20677 9.29359 0.122003 11.1829C0.0358364 13.0752 0.0161133 13.6802 0.0161133 18.4999C0.0161133 23.3196 0.0358364 23.9245 0.122003 25.8169C0.20677 27.7063 0.501917 28.9965 0.934147 30.1247C1.3805 31.2916 1.97793 32.2828 2.95094 33.2686C3.92395 34.2543 4.89793 34.8613 6.04831 35.3157C7.16119 35.7544 8.43102 36.0539 10.2924 36.14C12.1577 36.226 12.7528 36.2475 17.5011 36.2475C22.2495 36.2475 22.8455 36.2275 24.7099 36.14C26.5714 36.0539 27.8425 35.7544 28.954 35.3157C30.1036 34.8613 31.0782 34.2548 32.0513 33.2686C33.0245 32.2824 33.6205 31.2916 34.0681 30.1247C34.5004 28.9965 34.7969 27.7062 34.8803 25.8169C34.965 23.9231 34.9848 23.3196 34.9848 18.4999C34.9848 13.6802 34.965 13.0752 34.8803 11.1829C34.7955 9.29345 34.5004 8.00256 34.0681 6.87509C33.6205 5.70815 33.0229 4.71897 32.0513 3.73121C31.0797 2.74346 30.1036 2.1372 28.9554 1.68414C27.8425 1.24542 26.5712 0.944419 24.7113 0.859799C22.8469 0.773758 22.2509 0.752319 17.5025 0.752319C12.7542 0.752319 12.1577 0.772339 10.2924 0.859799Z"
                fill="#383533"
              >
              </path>
            </svg>
          </a>
          <a
            class="flex items-center justify-center w-[4.063rem] h-[4.063rem]"
            href="#"
          >
            <svg
              width="38"
              height="27"
              viewBox="0 0 38 27"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M36.5787 4.55967C36.1543 2.96421 34.8989 1.70558 33.3016 1.27421C30.4135 0.500122 18.8258 0.500122 18.8258 0.500122C18.8258 0.500122 7.24397 0.500122 4.34999 1.27421C2.7586 1.69967 1.50317 2.9583 1.0729 4.55967C0.300781 7.45512 0.300781 13.5001 0.300781 13.5001C0.300781 13.5001 0.300781 19.5451 1.0729 22.4406C1.49727 24.036 2.75271 25.2947 4.34999 25.726C7.24397 26.5001 18.8258 26.5001 18.8258 26.5001C18.8258 26.5001 30.4135 26.5001 33.3016 25.726C34.893 25.3006 36.1484 24.0419 36.5787 22.4406C37.3508 19.5451 37.3508 13.5001 37.3508 13.5001C37.3508 13.5001 37.3508 7.45512 36.5787 4.55967Z"
                fill="#383533"
              >
              </path>
              <path
                d="M15.1243 19.0724L24.7493 13.5001L15.1243 7.92785V19.0724Z"
                fill="white"
              >
              </path>
            </svg>
          </a>
        </div>
      </div>
    </nav>
  </div>
  <!-- Desktop version -->
  <div class="container mx-auto">
    <nav
      class="hidden lg:flex items-center justify-between lg:py-10 lg:px-30 w-full"
    >
      <ul class="sm:flex space-x-4 hidden items-center">
        <li>
          <a
            href="/about/"
            class="text-gray-700 hover:text-indigo-600 text-base leading-5"
          >
            about
          </a>
        </li>
        <li>
          <a
            href="/portfolio/"
            class="text-gray-700 hover:text-indigo-600 text-base leading-5"
          >
            portfolio
          </a>
        </li>
      </ul>
      <a href="/" class="text-black font-cinzel text-2xl">Henna Happens</a>
      <ul class="sm:flex space-x-4 hidden items-center">
        <li>
          <a
            href="/services/"
            class="text-gray-700 hover:text-indigo-600 text-base leading-5"
          >
            services
          </a>
        </li>
        <li>
          <a
            href="#"
            class="text-gray-700 hover:text-indigo-600 text-base leading-5"
          >
            location
          </a>
        </li>
        <li>
          <a
            href="#"
            class="text-gray-700 hover:text-indigo-600 text-base leading-5"
          >
            FAQ
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<style>
  @media screen and (max-width: 767px) {
    .nav-wrap {
      height: calc(100vh - 4.5rem);
    }
  }
</style>
